<h1 style="text-align:center">UHUHU Sklep</h1>
<h2 style="text-align:center">Witaj</h2>
<div>
    <a asp-controller="Client" asp-action="Login">Zaloguj się aby korzystać z serwisu</a>
</div>
<div>
    <a asp-controller="Shop" asp-action="Index">Kontynuuj jako gość</a>
</div>