@model ProjektSklep.Models.Register

<h1 style="text-align:center">Rejestracja</h1>

<form asp-action="Register" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="UserName">Nazwa użytkownika </label><br />
        <input type="text" asp-for="UserName" /><br />
        <br />
    </div>
    <div>
        <label asp-for="Imie">Imię </label><br />
        <input type="text" asp-for="Imie" /><br />
        <br />
    </div>
    <div>
        <label asp-for="Nazwisko">Nazwisko </label><br />
        <input type="text" asp-for="Nazwisko" /><br />
        <br />
    </div>
    <div>
        <label asp-for="PhoneNumber">Numer telefonu </label><br />
        <input type="number" asp-for="PhoneNumber" /><br />
        <br />
    </div>
    <div>
        <label asp-for="Email">Email </label><br />
        <input type="email" asp-for="Email" /><br />
        <br />
    </div>
    <div>
        <label asp-for="Password">Hasło </label><br />
        <input type="password" asp-for="Password" /><br />
        <br />
    </div>
    <button type="submit">Zarejestruj</button>
</form>